* {
    box-sizing:border-box;
}
html,body {
    height:100%;
    color:#333;
}
body{
    background:#f1f1f1;
}
#__nuxt {
    height:100%;
}
#sign-template {
    height:100%;
    background:#f1f1f1;
}
#default-template {
    /*height:100%;*/
    padding-top:56px;
    background:#ffff;
}
.btn:focus, .btn.focus{
    box-shadow: none!important;
}
a,a:hover,a:focus{
    text-decoration: none !important;
    color: inherit !important;
}
input:focus{
    outline: none;
}
ul,ol,dl{
    list-style:none;
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    /*display: block;*/
}
.my-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}
@media (min-width: 992px){
    .my-container {
        width: 960px!important;
    }
}
@media (max-width: 1080px){
    .my-container {
        width: 750px!important;
    }
}
@keyframes loading {
    0% {
        width: 60%
    }
    50% {
        width: 100%
    }
    to {
        width: 60%
    }
}
@keyframes shortLoading {
    0% {
        width: 20%
    }
    50% {
        width: 40%
    }
    to {
        width: 20%
    }
}


/************************首页布局*******************************/
.index{
    padding-top: 30px;
}
.index .main{
    padding-right: 0;
}
.index .aside{
    padding: 0 0 0 4.16667%;
}
.index .main .banner img{
    width: 100%;
    border-radius: 8px;
    display: block;
    height: auto;
}
.index .main .banner{
    margin-bottom: 35px;
}
.index .main .recommend-collection{
    margin-bottom: 10px;
}
.index .main .recommend-collection a{
    display: inline-block;
    min-height: 34px;
    margin: 0 18px 18px 0;
    border-radius: 6px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    overflow: hidden;
}
.index .main .recommend-collection a img{
    width: 32px;
    height: 32px;
    vertical-align: bottom;
}
.index .main .recommend-collection a span{
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    padding: 0 11px;
}
.index .main .recommend-collection .more-hot-collection{
    line-height: 34px;
    font-size: 14px;
    margin: 0;
    vertical-align: top;
    background: none;
    border: none;
    display: inline-block;
    color: #787878;
}
.index .main .split-line{
    margin: 0 0 15px;
    border-bottom: 1px solid #f0f0f0;
}
.index .aside .board{
    margin-top: -4px;
}
.index .aside .board img{
    width: 100%;
    margin-bottom: 6px;
}
.note-list{
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}
.note-list li{
    position: relative;
    width: 100%;
    padding: 0 0 17px 0;
    margin: 0 0 17px 0;
    border-bottom: 1px solid #f0f0f0;
    word-wrap: break-word;
}
.note-list li.have-img>.wrap-img{
    position:absolute;
    top:50%;
    right:0;
    margin-top:-60px;
    width:150px;
    height:120px;
}
.note-list li.have-img>.wrap-img img {
    width:100%;
    height:100%;
    border-radius: 4px;
    border:1px solid #f0f0f0;
}
.note-list li.have-img .content{
    padding-right: 160px;
}
.note-list .author{
    margin-bottom: 14px;
    font-size: 13px;
}
.note-list .author .avatar ,.note-list .author .info{
    display: inline-block;
    vertical-align: middle
}
.avatar{
    width: 32px;
    height: 32px;
    display: block;
}
.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.note-list .author .avatar{
    margin: 0 10px 0 0;
}
.note-list .author .info .time{
    color: #969696;
    padding-left: 5px;
}
.note-list .content .title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px;
}
.note-list .content .title:visited{
    color: #969696!important;
}
.note-list .content .abstract{
    font-size: 13px;
    line-height: 24px;
    margin: 0 0 7px 0;
}
.note-list .meta {
    font-size:12px;
    line-height:20px;
    font-weight:400;
}
.note-list .meta .collection-tag{
    color: #ea6f5a!important;
    border: 1px solid #ea6f5a;
    padding: 3px 6px;
    border-radius: 4px;
    margin-right: 10px;
    transition: all ease-in .2s;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}
.note-list .meta .collection-tag:hover {
    background-color:rgb(254,247,246);
    border-color:rgb(236,97,73);
}
.note-list .meta .tag{
    margin-right:10px;
    color:#b4b4b4!important;
    transition:all ease-in .2s;
}
.note-list .meta .tag:hover {
    color:rgb(120,120,120)!important;
}
.note-list .meta span {
    color:#b4b4b4;
}
@media (max-width: 1080px){
    .note-list li.have-img .wrap-img{
        margin-top: -55px;
        bottom: 40px;
        width: 125px;
        height: 100px;
    }
    .note-list li.have-img .content {
        padding-right: 135px;
    }
}
.index .main .load-more{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 20px;
    text-align: center;
    color: #fff!important;
    background: #a5a5a5;
    border-radius: 20px;
    font-size: 15px;
    margin: 30px auto 60px;
    padding: 10px 15px;
}
.index .recommend-author a.download{
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    padding: 7px 10px;
}
.index .recommend-author a.download img{
    width: 60px;
    height: 60px;
}
.index .recommend-author a.download .info{
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}
.index .recommend-author a.download .info .title{
    color: #333;
    margin-bottom: 0;
}
.index .recommend-author a.download .info .description{
    color: #999;
    margin-top: 4px;
    font-size: 13px;
}
.index .recommend-author .list{
    margin: 0 0 20px;
}
.index .recommend-author a{
    display: inline-block;
}
.index .recommend-author .title{
    font-size: 14px;
    color: #969696;
    margin-bottom: 20px;
}
.index .recommend-author .title .page-change{
    float: right;
    color: #969696;
}
.index .recommend-author .title .page-change i{
    transition: ease .2s;
}
.index .recommend-author .list li{
    margin-top: 15px;
}
.index .recommend-author .list .avatar{
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    display: block;
}
.index .recommend-author .list .follow{
    float: right;
    margin-top: 5px;
    color: #42c02e!important;
    font-size: 13px;
}
.index .recommend-author .list .name{
    padding-top: 5px;
    margin-right: 60px;
    font-size: 14px;
    display: block;
}
.index .recommend-author .list p{
    margin: 2px 0 10px;
    font-size: 12px;
    color: #969696;
}
.index .recommend-author .find-more{
    width: 100%;
    padding: 7px 7px 7px 12px;
    color: #787878!important;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    font-size: 15px;
    border-radius: 4px;
    text-align: center;
    line-height: 22px;
}
footer.my-container .row{
    padding-top: 25px!important;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;

}
footer.my-container .row .main a{
    color: #969696;
    display: inline-block;
}
footer.my-container .row .main .icp{
    color: #c8c8c8;
    margin-top: 10px;
    font-size: 12px;
}


/*************************文章详情布局*****************************/
.note {
    position: relative;
    padding-top: 10px;
}
.note .post{
    width: 620px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}
@media (max-width: 750px) {
    body{
        overflow-x:hidden;
    }
}
@media (max-width: 785px) {
    .note .post{
        margin: 0 74px;
    }
}
.note .post .article .title{
    margin: 20px 0 0;
}
.note .post .article .author{
    margin: 30px 0 40px;
}
.note .post .article .author .avatar{
    width: 48px;
    height: 48px;
    display: inline-block;
}
.note .post .article .author .info{
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
}
.note .post .article .author .info .name{
    margin-right: 3px;
    font-size: 16px;
    vertical-align: middle;
}
.note .post .article .info .follow1{
    padding: 0 7px 0 5px;
    font-size: 12px;
    border-color: #42c02e!important;
    color: #fff!important;
    border-radius: 40px;
    background-color: #42c02e;
}
.note .post .article .info .follow1:hover{
    background-color: #3db922;
}
.note .post .article .info .follow2{
    padding: 0 7px 0 5px;
    font-size: 12px;
    border-color: #ccc!important;
    color: #969696!important;
    border-radius: 40px;
    background-color: #fff;
}
.note .post .article .info .follow2:hover{
    background: none;
}
.note .post .article .author .meta{
    margin-top: 5px;
    font-size: 12px;
    color: #969696;
}
.note .post .article .author .meta span{
    padding-right: 5px;
}
.note .post .article .show-content{
    font-size: 16px;
    font-weight: 400;
    word-break: break-word!important;
    color: #2f2f2f;
    line-height: 1.7;
}
.note .post .article .show-content p{
    margin-bottom: 20px;
}
.note .post .article .show-foot{
    margin-bottom: 30px;
}
.note .post .article .show-foot .notebook{
    font-size: 12px;
    color: #c8c8c8!important;
}
.note .post .article .show-foot .notebook i{
    margin-right: 5px;
}
.note .post .article .show-foot .copyright{
    float: right;
    font-size: 12px;
    color: #c8c8c8;
    margin-top: 5px;
}
.note .post .article .follow-detail{
    padding: 20px;
    background: #f8f8f8;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 12px;
}
.note .post .article .follow-detail .avatar{
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 48px;
}
.note .post .article .follow-detail .btn{
    width: 100px;
    font-size: 16px;
    padding: 8px 0;
    float: right;
    font-weight: 400;
}
.note .post .article .follow-detail .info .follow2{
    background: none;
}
.note .post .article .follow-detail .info span{
    margin-left: 2px;
}
.note .post .article .follow-detail .info .title{
    margin-right: 3px;
    font-size: 17px;
    vertical-align: middle;
}
.note .post .article .follow-detail .info .fa-mars{
    font-size: 15px;
    color: #3194d0;
    vertical-align: middle;
}
.note .post .article .follow-detail .info p{
   margin-bottom: 0;
}
.note .post .article .follow-detail .signature{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e1e1e1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #969696;
}
.note .post .article .meta-bottom{
    margin-top: 40px;
    margin-bottom: 80px;
}
.note .post .article .meta-bottom .like{
    display: inline-block;
}
.note .post .article .meta-bottom .share-group{
    float: right;
    margin-top: 6px;
}
.note .post .article .meta-bottom .like-group{
    border: 1px solid #ea6f5a;
    padding: 13px 0 15px;
    border-radius: 40px;
    font-size: 0;
}
.note .post .article .meta-bottom .activeClass {
    border: 1px solid #ea6f5a;
    padding: 13px 0 15px;
    border-radius: 40px;
    background-color: #ea6f5a!important;
    color: white!important;
}
.note .post .article .meta-bottom .btn .btn-like .color,
.note .post .article .meta-bottom .btn .modal-wrap .color{
    color: white!important;
}
.note .post .article .meta-bottom .btn .modal-wrap.color{
    border-left: 1px solid white;
}
.note .post .article .meta-bottom .btn:hover{
    background-color: rgba(236,97,73,.05);
}
.note .post .article .meta-bottom .btn .btn-like{
    display: inline-block;
    font-size: 19px;
}
.note .post .article .meta-bottom .btn .btn-like a{
    color: #ea6f5a!important;
    padding: 18px 15px 18px 30px;
    font-weight: 400;
}
.note .post .article .meta-bottom .btn .btn-like a i{
    margin-right: 5px;
    font-size: 21px;
}
.note .post .article .meta-bottom .btn .modal-wrap{
    display: inline-block;
    font-size: 18px;
    border-left: 1px solid rgba(236,97,73,4);
}
.note .post .article .meta-bottom .btn .modal-wrap a{
    color: #ea6f5a!important;
    padding: 18px 30px 18px 17px;
    font-weight: 400;
}
.note .post .article .meta-bottom .share-group .share-circle{
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-left: 5px;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
}
.note .post .article .meta-bottom .share-group .share-circle:hover {
    background:rgb(248,248,248);
}
.note .post .article .meta-bottom .share-group .share-circle i{
    font-size: 24px;
}
.weixin{
    color: #00bb29;
}
.weibo{
    color: #e05244;
}
.picture{
    color: #9b9b9b;
}
.note .post .article .meta-bottom .share-group .hiddenMenu{
    background-color: #fff;
    position: absolute;
    top: -165px;
    right: -30px;
    width:153px;
    height: 158px;
    border-radius: 8px;
    overflow: hidden;
    border-left: 1px solid #e1e1e1;
    box-shadow: 2px 2px 5px #e1e1e1;
    padding: 1px 0;
    display: none;
}
.note .post .article .meta-bottom .share-group .hiddenMenu a{
    display: block;
    width: 100%;
    height: 31.6px;
    line-height: 31.6px;
    padding-left: 10px;
}
.note .post .article .meta-bottom .share-group .hiddenMenu a:hover{
    background-color: #f0f0f0;
}
.note .post .article .meta-bottom .share-group .hiddenMenu a i{
    font-size: 17px;
    width: 25px;
    height: 25px;
}
.note .post .article .meta-bottom .share-group .hiddenMenu a span{
    font-size: 14px;
}
.note .post .article .meta-bottom .share-group .hiddenThree{
    position: absolute;
    width: 0;
    height: 0px;
    content: '';
    border-style: solid;
    border-width: 8px;
    border-color: #fff #fff transparent transparent;
    transform: rotate(135deg);
    box-shadow: 2px -2px 2px #e1e1e1;
    top: -15px;
    right: 35px;
    display: none;
}
.qqzone{
    color: #fec801;
}
.twitter{
    color: #00aaec;
}
.facebook{
    color: #4460a0;
}
.google{
    color: #fa3f2d;
}
.envira{
    color: #388c26;
}
.note .post .article .meta-bottom{
    position: relative;
}
.note .post .article .meta-bottom .share-group .more-share {
    width: auto;
    padding: 4px 18px;
    font-size: 14px;
    color: #9b9b9b!important;
    line-height: 40px;
    border-radius: 50px;
}


.comment-placeholder {
    padding:20px 0 30px 0;
}
.comment-placeholder .author {
    margin-bottom:15px;
}
.comment-placeholder .author .avatar {
    background:#eaeaea;
    border-radius: 50%;
}
.comment-placeholder .author .info {
    display:inline-block;
}
.comment-placeholder .author .info .name {
    width:60px;
    height:15px;
    margin-bottom:6px;
    background:#eaeaea;
}
.comment-placeholder .author .info .meta {
    width:120px;
    height:12px;
    background:#eaeaea;
}
.comment-placeholder .title {
    width:100%;
    height:16px;
    background:#eaeaea;
    margin-bottom:8px;
    animation:loading 1s ease-in-out infinite;
}
.comment-placeholder .animated-delay {
    animation:loading 1s ease-in-out -.5s infinite ;
}
.comment-placeholder .tool-group {
    font-size:15px;
    color:#eaeaea;
    padding-top:5px;
}
.comment-placeholder .tool-group i {
    margin-right:5px;
}
.comment-placeholder .tool-group .zan {
    width:40px;
    height:14px;
    margin-right:10px;
    display:inline-block;
    background:#eaeaea;
}